<h1>signup</h1>
<form action="/signup" method="post">

Enter name:<input type=text name="name">
Create username:<input type=text name="username">
Enter email:<input type=email name="email">
Create Password:<input type=password name="password">
<input type=submit value="signup">


</form>