

<form class="signup-form" action="/events/<%= @event.id %>" method="post">
    <div class="signup-form__content">
        <div class="signup-form__header"> Edit Event </div>
        <input type="hidden" name="_method" value="patch">
        <textarea class="signup-form__iput" name="content"><%= @event.content%></textarea>
        <input class="signup-form__iput" type=datetime name="time" value="<%= @event.time%>"> 
        <input type=submit value="Edit event">
    </div>
</form>






