<h1>Create a new event for BABYS NAME </h1>

<%binding.pry%>

<form action="/events" method="post">

Content:<textarea name="content"></textarea>

<br> Date:<input type=datetime name="time">

<input type=submit value="Log event">

</form>


<%



%>




