<h1>Insert the form to create a new instance of your model.</h1>


<form action="/events" method="post">

    what happend: <textarea name="content"></textarea>
    <input type="submit" value="Log Event">

</form>

