<form class="login-form" action="/new_baby" method="post">
    <div class="login-form__content">
        <div class="login-form__header">Register a new baby</div>
        <input class="login-form__input" type=text name="name" placeholder="name" > 
        <input class="login-form__input" type=date name="DOB" placeholder="Date of birth">
        <button class="login-form__button" type=submit>Add a new baby</button>
    </div>
</form>
