<h1>Create a new baby</h1>

<form action="/new_baby" method="post">

Enter name:<input type=text name="name">

Date of birth:<input type=date name="DOB">

<input type=submit value="Add New Baby">

</form>
