<h1 class="profile_name">  <%="#{get_babies.name}"%></h1>

<a href="/profile">Back to profile</a>

<div class="container">
    <%@babies.events.each do |e|%>
        <%=e.content%>
        <%=e.time%>
    <a href="/events/<%= e.id %>/edit">Edit</a>
    <%end%>
</div>





