






<div class="middle">
    <h1 class="middle__header"> Welcome to baby event logger <h1>
</div>


<form class="signup-form" action="/signup" method="post">
    <div class="signup-form__content">
        <div class="signup-form__header"> Create an account </div>
        <input class="signup-form__iput" type=text name="name" placeholder="name">
        <input class="signup-form__iput" type=text name="username" placeholder="username">
        <input class="signup-form__iput" type=email name="email" placeholder="email">
        <input class="signup-form__iput" type=password name="password" placeholder="password">
        <button class="signup-form__button" type="submit">Signup</button>
        <div class="signup-form__links">
            <a href="http://127.0.0.1:9393/login" class="signup-form__link">Already have an account? login</a>
        </div>
    </div>
</form>
