<h1>home page </h1>


<br> <a href="http://127.0.0.1:9393/signup" target="_blank"> signup</a> 
<br> <a href="http://127.0.0.1:9393/login" target="_blank"> login</a> 
<br> <a href="http://127.0.0.1:9393/logout" target="_blank"> logout</a> 